/*********          SEARCH BAR            *********/
.cover-index {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18159367_10212154670799427_1491287755_o.png?oh=b8541753f181cae0f56adee19fd1343e&oe=5901B9A8");
  background-size: cover; }

.search-bar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px; }

.flex-form {
  display: flex;
  flex-basis: 40%; }
  .flex-form input, .flex-form label {
    background-color: #FDFDFD; }
  .flex-form *:not(input[type="date"]) {
    border-top: 1px solid #FDFDFD;
    border-bottom: 1px solid #FDFDFD;
    flex-wrap: wrap;
    flex-basis: 75%; }
  .flex-form input[type="submit"] {
    background: #003B46;
    border-top: 1px solid #003B46;
    border-bottom: 1px solid #003B46;
    color: #FDFDFD;
    flex-basis: 10%; }
  .flex-form * {
    border: 0;
    padding: 10px;
    background: #FDFDFD;
    line-height: 32px;
    font-size: 16px;
    outline: 0;
    border-right: 1px solid rgba(13, 13, 13, 0.2);
    -webkit-appearance: none; }
  .flex-form *:last-child {
    border-right: 0; }

.flex-checks {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  color: white; }
  .flex-checks input {
    margin-left: 15px; }

/*********          SUGGESTED TRAVELS            *********/
.suggested-travels {
  text-align: center; }
  .suggested-travels h3 {
    font-family: 'Julius Sans One', sans-serif; }
  .suggested-travels h2 {
    font-family: 'Julius Sans One', sans-serif;
    padding: 25px; }

.sugg-travels {
  display: flex;
  font-family: 'Roboto', sans-serif; }
  .sugg-travels .sugg {
    flex-basis: 100%;
    margin: 10px;
    height: 20vh; }
  .sugg-travels .london {
    background: linear-gradient(rgba(7, 87, 91, 0.2), rgba(7, 87, 91, 0.2)), url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18175314_10212154812402967_672162396_o.png?oh=3b3f2b7e361104c6e393b1cf1e09ac8e&oe=5901732D");
    background-size: cover; }
  .sugg-travels .newYork {
    background: linear-gradient(rgba(7, 87, 91, 0.2), rgba(7, 87, 91, 0.2)), url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18119777_10212154763401742_1526819122_o.png?oh=7cc8fdc2b6d9e60228e8c6d923cbe6a2&oe=5901CAB0");
    background-size: cover; }
  .sugg-travels .tokyo {
    background: linear-gradient(rgba(7, 87, 91, 0.2), rgba(7, 87, 91, 0.2)), url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18109993_10212154799602647_612392192_o.png?oh=0298fd68752a1684126fa2ecd4a8e024&oe=5901CFB7");
    background-size: cover; }

/*********          SUGGESTED TRAVELS BASED ON CALENDAR            *********/
.suggestions-calendar {
  text-align: center; }

.calendar-sugg {
  display: flex;
  font-family: 'Roboto', sans-serif; }
  .calendar-sugg h3 {
    font-family: 'Julius Sans One', sans-serif; }
  .calendar-sugg .cale {
    flex-basis: 100%;
    margin: 10px;
    height: 100%;
    color: white; }
  .calendar-sugg .paris {
    background: linear-gradient(rgba(0, 59, 70, 0.8), rgba(0, 59, 70, 0.8)), url("https://www.datasciencetech.institute/wp-content/uploads/2014/12/Eiffel-Tower-Paris-France.jpg");
    background-size: cover; }
  .calendar-sugg .malmo {
    background: linear-gradient(rgba(0, 59, 70, 0.8), rgba(0, 59, 70, 0.8)), url("http://www.shl.dk/wp-content/uploads/2016/03/SHL_Architects_Malm%C3%B6-Live_Malm%C3%B6-from-above_banner_image-1170x555.jpg");
    background-size: cover; }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .cover-index {
    height: 60vh; }

  .search-bar {
    flex-basis: 75%; }

  .flex-form {
    display: flex;
    flex-wrap: wrap; }
    .flex-form input[type="search"] {
      flex-basis: 50%;
      margin: 2px 0;
      font-size: 0.8em; }
    .flex-form label {
      flex-basis: 10%;
      margin: 2px 0;
      font-size: 0.6em; }
    .flex-form input[type="date"] {
      flex-basis: 40%;
      margin: 2px 0;
      font-size: 0.8em; }
    .flex-form input[type="number"] {
      flex-basis: 40%;
      font-size: 0.8em; }
    .flex-form input[type="submit"] {
      flex-basis: 100%;
      font-size: 0.8em;
      margin: 2px 0; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  .cover-index {
    height: 60vh; }

  .search-bar {
    flex-basis: 85%; }

  .flex-form {
    display: flex;
    flex-wrap: wrap; }
    .flex-form input[type="search"] {
      flex-basis: 50%;
      margin: 2px 0;
      font-size: 0.8em; }
    .flex-form label {
      flex-basis: 20%;
      margin: 2px 0;
      font-size: 0.6em; }
    .flex-form input[type="date"] {
      flex-basis: 80%;
      margin: 2px 0;
      font-size: 0.8em; }
    .flex-form input[type="number"] {
      flex-basis: 80%;
      font-size: 0.8em; }
    .flex-form input[type="submit"] {
      flex-basis: 100%;
      font-size: 0.8em;
      margin: 2px 0; } }
@media screen and (max-width: 500px) {
  .cover-index {
    height: 60vh; }

  .search-bar {
    padding: 10px;
    flex-basis: 90%; }

  .flex-form {
    flex-wrap: wrap; }
    .flex-form input[type="search"] {
      flex-basis: 100%;
      font-size: 0.8em;
      margin: 2px 0; }
    .flex-form label {
      flex-basis: 20%;
      font-size: 0.8em;
      margin: 2px 0; }
    .flex-form input[type="date"] {
      flex-basis: 80%;
      font-size: 0.8em;
      margin: 2px 0; }
    .flex-form input[type="number"] {
      flex-basis: 80%;
      font-size: 0.8em; }
    .flex-form input[type="submit"] {
      flex-basis: 100%;
      margin: 2px 0; }

  .flex-checks input {
    margin-left: 10px; }

  /*********          SUGGESTED TRAVELS            *********/
  .sugg-travels {
    flex-direction: column; }

  /*********          SUGGESTED TRAVELS BASED ON CALENDAR            *********/
  .calendar-sugg {
    flex-direction: column; } }
body .resultWrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7; }
  body .resultWrapper .classContainer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 1%; }
    body .resultWrapper .classContainer .classes {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      body .resultWrapper .classContainer .classes .economyClass, body .resultWrapper .classContainer .classes .businessClass, body .resultWrapper .classContainer .classes .firstClass {
        margin: 2%; }
  body .resultWrapper .resultContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .resultWrapper .resultContainer .resultsWrapper {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .resultWrapper .resultContainer .resultsWrapper .travelWrapper {
        display: flex;
        justify-content: center; }
        body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer {
          height: 20%;
          margin: 1% 5% 0 5%;
          padding-top: 1%;
          border: 1px grey solid;
          display: flex;
          background-color: #FDFDFD; }
          body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer {
            width: 80%;
            margin-left: 4%; }
            body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer {
              width: 95%;
              height: 90%;
              margin: 2% 0 0 0;
              display: flex;
              flex-direction: column; }
              body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .destinationContainer, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .arrivalContainer {
                width: 90%;
                height: 50%;
                margin: 2%;
                display: flex;
                flex-direction: row; }
              body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .destinationContainer {
                border: 1px grey;
                border-style: none none solid none;
                padding-bottom: 5%; }
              body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .dividerContainer {
                width: 38%;
                display: flex;
                justify-content: center;
                align-items: center; }
                body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .dividerContainer .divider {
                  width: 100%;
                  margin-top: 20%;
                  border: 1px grey;
                  border-style: none none solid none; }
                  body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .dividerContainer .divider h5 {
                    text-align: center; }
              body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .destinationCapitalAndTimeContainer, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .arrivalCapitalAndTimeContainer {
                width: 70%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin: 2%; }
              body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .toCapitalContainer, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .toTimeContainer, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .fromCapitalContainer, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .fromTimeContainer {
                width: 100%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin: 2%; }
              body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .companyContainer {
                width: 60%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2%; }
                body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .companyContainer h1, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .companyContainer h2, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .companyContainer h3, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .companyContainer h4, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .companyContainer h5 {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0;
                  padding: 0; }
                body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer .toDesitinationContainer .companyContainer img {
                  width: 100px; }
          body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .priceContainer, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .selectTravelContainer {
            width: 150px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center; }
            body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .priceContainer button, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .selectTravelContainer button {
              padding: 15px 25px;
              background: #ccc;
              border: 0 none;
              cursor: pointer;
              -webkit-border-radius: 5px;
              border-radius: 5px; }
              body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .priceContainer button a, body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .selectTravelContainer button a {
                text-decoration: none;
                color: #0D0D0D; }

@media screen and (min-width: 1025px) {
  body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer {
    width: 60%;
    flex-direction: row; }
    body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer {
      width: 80%;
      margin-left: 4%; }
    body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 5% 8% 0 2%; }
      body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .selectTravelContainer {
        margin: 2%; } }
@media screen and (max-width: 1024px) {
  body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer {
    width: 90%;
    flex-direction: column; }
    body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .destinationsContainer {
      width: 100%;
      display: flex;
      justify-content: center; }
    body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #FFAB91;
      padding: 5%; }
      body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .priceContainer {
        margin-top: 5%; }
      body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer .priceAndSelectTravelContainer .selectTravelContainer {
        margin: 5% 2% 0 2%; } }
body .payment-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(253, 253, 253, 0.7), rgba(253, 253, 253, 0.7)), url("https://scontent-fra3-1.xx.fbcdn.net/v/t35.0-12/17571255_10211849789497585_1870481032_o.png?oh=4ee2bed841639f3bf963f8e633a9c3ca&oe=58DB6283");
  background-size: cover; }
body #payment {
  padding: 30px;
  border: 2px solid #F7F7F7;
  border-radius: 10px;
  background-color: #FDFDFD;
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  margin: 10px 0; }
  body #payment div {
    margin: 0 8px; }
  body #payment .pm-upper-wrapper {
    display: flex;
    flex-direction: row; }
  body #payment #pm-left-wrapper {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    justify-content: center; }
    body #payment #pm-left-wrapper #pm-info-wrapper {
      display: flex;
      flex-basis: 60%;
      flex-direction: column; }
    body #payment #pm-left-wrapper #pm-payment-wrapper {
      display: flex;
      flex-basis: 40%;
      flex-direction: column; }
    body #payment #pm-left-wrapper .pm-lower-wrapper {
      background-color: #F7F7F7; }
    body #payment #pm-left-wrapper #pm-addons {
      flex-basis: 100%; }
  body #payment #pm-right-wrapper {
    display: flex;
    flex-basis: 30%;
    background-color: #FFAB91;
    flex-direction: column;
    justify-content: center; }
    body #payment #pm-right-wrapper #pm-order-wrapper {
      display: flex;
      flex-basis: 100%;
      flex-direction: column; }
    body #payment #pm-right-wrapper #pm-price {
      margin-top: 10px;
      flex-basis: 100%; }
      body #payment #pm-right-wrapper #pm-price .final-price {
        margin-left: 5px; }
    body #payment #pm-right-wrapper #pm-price-btns {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      margin-bottom: 5px; }
      body #payment #pm-right-wrapper #pm-price-btns a {
        text-decoration: none; }
      body #payment #pm-right-wrapper #pm-price-btns .btn-succes {
        background-color: #2E7D32;
        flex-basis: 60%;
        height: 50px; }
        body #payment #pm-right-wrapper #pm-price-btns .btn-succes a {
          color: #FDFDFD; }
      body #payment #pm-right-wrapper #pm-price-btns .btn-cancel {
        flex-basis: 30%; }
        body #payment #pm-right-wrapper #pm-price-btns .btn-cancel a {
          color: #0D0D0D; }
body #pm-price-lower {
  display: flex;
  justify-content: space-around; }
body #pm-addons-content {
  display: flex; }
  body #pm-addons-content #pm-addons-content-right {
    display: flex;
    flex-flow: column;
    justify-content: space-around; }
body #pm-price-title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline; }

@media screen and (min-width: 999px) and (max-width: 1400px) {
  body .payment-container {
    background: linear-gradient(rgba(253, 253, 253, 0.7), rgba(253, 253, 253, 0.7)), url("https://scontent-fra3-1.xx.fbcdn.net/v/t35.0-12/17572043_10211849933861194_647924336_o.png?oh=cd21cfab2e8833b13611ae6eadb155f3&oe=58DB32FD");
    background-size: cover; }
  body #payment {
    font-size: 0.9em;
    flex-basis: 70%; } }
@media screen and (min-width: 721px) and (max-width: 1000px) {
  body .payment-container {
    background: linear-gradient(rgba(253, 253, 253, 0.7), rgba(253, 253, 253, 0.7)), url("https://scontent-fra3-1.xx.fbcdn.net/v/t35.0-12/17572043_10211849933861194_647924336_o.png?oh=cd21cfab2e8833b13611ae6eadb155f3&oe=58DB32FD");
    background-size: cover; }
  body #payment {
    font-size: 0.8em;
    flex-basis: 80%; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  body .payment-container {
    background: linear-gradient(rgba(253, 253, 253, 0.7), rgba(253, 253, 253, 0.7)), url("https://scontent-fra3-1.xx.fbcdn.net/v/t34.0-12/17580057_10211849958781817_2030937439_n.png?oh=48923544cedfc2e23c92dc23fc2f1cff&oe=58DB0BB8");
    background-size: cover; }
  body #payment {
    padding: 10px;
    font-size: 0.7em;
    flex-basis: 90%; } }
@media screen and (max-width: 500px) {
  body .payment-container {
    background: linear-gradient(rgba(253, 253, 253, 0.7), rgba(253, 253, 253, 0.7)), url("https://scontent-fra3-1.xx.fbcdn.net/v/t34.0-12/17578038_10211849993982697_1864148707_n.png?oh=22d058e422dd6587387e591f560a7701&oe=58DB56DE");
    background-size: cover; }
  body #payment {
    padding: 5px;
    font-size: 0.7em;
    flex-basis: 90%;
    flex-direction: column;
    margin-top: 150px; }
    body #payment .pm-upper-wrapper {
      flex-direction: column; }
    body #payment #pm-left-wrapper {
      flex-basis: 100%; }
      body #payment #pm-left-wrapper #pm-info-wrapper {
        flex-basis: 100%; }
      body #payment #pm-left-wrapper #pm-payment-wrapper {
        flex-basis: 100%; }
      body #payment #pm-left-wrapper .pm-lower-wrapper {
        background-color: #F7F7F7;
        flex-basis: 100%; }
      body #payment #pm-left-wrapper #pm-addons {
        flex-basis: 100%; }
    body #payment #pm-right-wrapper {
      flex-basis: 100%; }
      body #payment #pm-right-wrapper #pm-order-wrapper {
        flex-basis: 100%; }
      body #payment #pm-right-wrapper #pm-price {
        margin-top: 10px;
        flex-basis: 100%; }
        body #payment #pm-right-wrapper #pm-price .final-price {
          margin-left: 5px; }
      body #payment #pm-right-wrapper #pm-price-btns {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        margin-bottom: 5px; }
        body #payment #pm-right-wrapper #pm-price-btns a {
          text-decoration: none; }
        body #payment #pm-right-wrapper #pm-price-btns .btn-succes {
          background-color: #2E7D32;
          flex-basis: 60%;
          height: 50px; }
          body #payment #pm-right-wrapper #pm-price-btns .btn-succes a {
            color: #FDFDFD; }
        body #payment #pm-right-wrapper #pm-price-btns .btn-cancel {
          flex-basis: 30%; }
          body #payment #pm-right-wrapper #pm-price-btns .btn-cancel a {
            color: #0D0D0D; } }
.register {
  margin-top: 40px; }
  .register h1 {
    text-align: center; }
  .register .flex-form-reg {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    .register .flex-form-reg input {
      padding: 15px;
      width: 40%;
      margin-bottom: 10px;
      text-align: center; }
    .register .flex-form-reg input[type="submit"] {
      background: #07575B;
      border: none;
      color: #FDFDFD;
      margin-top: 20px;
      padding: 30px;
      font-size: 1.3em;
      font-family: 'Julius Sans One', sans-serif; }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .register {
    font-size: 0.8em;
    flex-wrap: wrap; }
    .register input {
      width: 50% !important; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  .register {
    font-size: 0.6em;
    flex-wrap: wrap; }
    .register input {
      width: 70% !important; } }
@media screen and (max-width: 500px) {
  .register {
    font-size: 0.6em;
    flex-wrap: wrap; }
    .register input {
      width: 90% !important; } }
.confirmation-page {
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .confirmation-page h1, .confirmation-page h2, .confirmation-page p {
    padding: 30px; }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .confirmation-page {
    font-size: 0.8em; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  .confirmation-page {
    font-size: 0.8em; } }
@media screen and (max-width: 500px) {
  .confirmation-page {
    font-size: 0.75em; } }
.login-page {
  margin-top: 40px;
  height: 80vh; }
  .login-page h1 {
    text-align: center; }
  .login-page .login-container {
    display: flex;
    justify-content: center;
    align-content: center; }
    .login-page .login-container .flex-form-login {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 100%;
      text-align: center;
      flex-direction: column;
      margin-top: 35px; }
      .login-page .login-container .flex-form-login input {
        padding: 15px;
        width: 40%;
        margin-bottom: 10px;
        text-align: center; }
      .login-page .login-container .flex-form-login input[type="submit"] {
        background: #07575B;
        border: none;
        color: #FDFDFD;
        margin-top: 20px;
        padding: 30px;
        font-size: 1.3em;
        font-family: 'Julius Sans One', sans-serif; }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .login-page {
    font-size: 0.8em;
    flex-wrap: wrap; }
    .login-page input {
      width: 50% !important; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  .login-page {
    font-size: 0.6em;
    flex-wrap: wrap; }
    .login-page input {
      width: 70% !important; } }
@media screen and (max-width: 500px) {
  .login-page {
    font-size: 0.6em;
    flex-wrap: wrap; }
    .login-page input {
      width: 90% !important; } }
.cover-index-profile {
  height: 86vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18159367_10212154670799427_1491287755_o.png?oh=b8541753f181cae0f56adee19fd1343e&oe=5901B9A8");
  background-size: cover; }
  .cover-index-profile .user-information-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    height: 65%;
    width: 80%;
    display: flex;
    flex-direction: row; }
    .cover-index-profile .user-information-container .user-profile {
      display: flex;
      height: 100%;
      margin-right: 2%; }
      .cover-index-profile .user-information-container .user-profile .profile-picture {
        height: 100%; }
    .cover-index-profile .user-information-container .user-information {
      display: flex;
      flex-direction: column;
      margin-left: 5%; }
      .cover-index-profile .user-information-container .user-information .user-name {
        color: white;
        font-size: 30px;
        margin: 5% 0; }
      .cover-index-profile .user-information-container .user-information .user-company {
        color: white;
        font-size: 22px; }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .cover-index-profile {
    height: 60vh; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  .cover-index-profile {
    height: 60vh; } }
@media screen and (max-width: 500px) {
  .cover-index-profile {
    height: 60vh; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin: 0;
  font-size: 16px;
  outline: 0;
  -webkit-appearance: none; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Julius Sans One', sans-serif; }

.toggleNav {
  display: none; }

.flex-nav {
  background-color: #003B46;
  font-family: 'Julius Sans One', sans-serif;
  height: 55px;
  display: flex;
  padding: 0 30px;
  align-items: center;
  flex-direction: row;
  color: #FDFDFD;
  justify-content: space-between;
  /* Flex Container */
  /* Flex Item */ }
  .flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
  .flex-nav .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .flex-nav .nav-left img {
      display: flex;
      align-items: center;
      width: 45px; }
    .flex-nav .nav-left div {
      margin-left: 20px; }
  .flex-nav li {
    margin-left: 20px;
    color: #F7F7F7; }
  .flex-nav a {
    color: #FDFDFD;
    text-decoration: none; }

footer {
  font-family: 'Julius Sans One', sans-serif;
  left: 0;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #003B46;
  color: white;
  margin-top: 20px; }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .flex-nav {
    padding: 0 20px; }
    .flex-nav ul li {
      flex-basis: 100%;
      font-size: 0.9em;
      margin-left: 5px; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  .flex-nav {
    padding: 0 10px; }
    .flex-nav ul {
      display: none;
      flex-wrap: wrap;
      position: absolute;
      text-align: right;
      top: 50px;
      background-color: #003B46; }
    .flex-nav ul li {
      flex-basis: 100%;
      margin: 8px 5px; }
    .flex-nav ul.open {
      display: flex; }
    .flex-nav .nav-right {
      flex-basis: 40%; }
    .flex-nav .toggleNav {
      display: block;
      text-align: right; } }
@media screen and (max-width: 500px) {
  .flex-nav {
    padding: 0 10px; }
    .flex-nav ul {
      display: none;
      flex-wrap: wrap;
      position: absolute;
      top: 50px;
      flex-basis: 60%;
      background-color: #003B46; }
    .flex-nav ul li {
      flex-basis: 100%;
      margin: 8px 5px; }
    .flex-nav ul.open {
      display: flex; }
    .flex-nav .nav-right {
      flex-basis: 60%; }
    .flex-nav .toggleNav {
      display: block;
      text-align: right; } }

/*# sourceMappingURL=style.css.map */
