$purple: #003B46;

$menuColor: #003B46;

$lightBlue: #07575B;

$orange: #07575B;

$grey: #F7F7F7;

$white: #FDFDFD;

$black: #0D0D0D;

$formBorder: #cc8d3b;

$darkGrey: #F7F7F7;

$lightGrey: #F7F7F7;

$lightOrange: #FFAB91;

$btnGreen: #2E7D32;