@import "colors.scss";
/*********          SEARCH BAR            *********/

.cover-index  {
  height:45vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18159367_10212154670799427_1491287755_o.png?oh=b8541753f181cae0f56adee19fd1343e&oe=5901B9A8");
  background-size: cover;
}

.search-bar {
  background-color: rgba(black, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 70%;
}


.flex-form{
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  margin: 2% 0;

  input, label {
  background-color: $white;
  }

  *:not(input[type="date"]){
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    flex-wrap: wrap;
    flex-basis: 75%;
  }


  input[type="submit"] {
    background: $menuColor;
    border-top: 1px solid $menuColor;
    border-bottom: 1px solid $menuColor;
    color: $white;
    flex-basis: 10%;
  }

  * {
    border: 0;
    padding: 10px;
    background: $white;
    line-height: 32px;
    font-size: 16px;
    outline: 0;
    border-right: 1px solid rgba($black, 0.2);
    -webkit-appearance: none;
  }

  *:last-child {
    border-right: 0;
  }
}

.flex-checks{
  display: flex;
  flex-basis: 40%;
  margin-top: 10px;
  align-items: center;
  color: white;
  margin: 0 2%;

  input {
    margin-left: 15px;
  }
}

/*********          SUGGESTED TRAVELS            *********/
.suggested-travels {
  text-align: center;

  h3{
    font-family: 'Julius Sans One', sans-serif;
  }

  h2 {
    font-family: 'Julius Sans One', sans-serif;
    padding: 25px;

  }

}

.sugg-travels {
  display: flex;
  font-family: 'Roboto', sans-serif;

  

  .sugg {
    flex-basis: 100%;
    margin: 10px;
    height: 20vh;
  }

  .london {
    background:  linear-gradient(
      rgba($orange, 0.2), 
      rgba($orange, 0.2)
    ), url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18175314_10212154812402967_672162396_o.png?oh=3b3f2b7e361104c6e393b1cf1e09ac8e&oe=5901732D");
    background-size: cover;
  }

  .newYork {
    background:  linear-gradient(
      rgba($orange, 0.2), 
      rgba($orange, 0.2)
    ), url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18119777_10212154763401742_1526819122_o.png?oh=7cc8fdc2b6d9e60228e8c6d923cbe6a2&oe=5901CAB0");
    background-size: cover;
  }

  .tokyo {
    background:  linear-gradient(
      rgba($orange, 0.2), 
      rgba($orange, 0.2)
    ), url("https://scontent.xx.fbcdn.net/v/t35.0-12/s2048x2048/18109993_10212154799602647_612392192_o.png?oh=0298fd68752a1684126fa2ecd4a8e024&oe=5901CFB7");
    background-size: cover;
  } 
}


/*********          SUGGESTED TRAVELS BASED ON CALENDAR            *********/
.suggestions-calendar {
  text-align: center;
}

.calendar-sugg {
  display: flex;
  font-family: 'Roboto', sans-serif;

  h3 {
    font-family: 'Julius Sans One', sans-serif;
  }

  .cale {
    flex-basis: 100%;
    margin: 10px;
    height: 100%;
    color: white;
  }

  .paris {
    background:  linear-gradient(
      rgba($purple, 0.8), 
      rgba($purple, 0.8)
    ), url("https://www.datasciencetech.institute/wp-content/uploads/2014/12/Eiffel-Tower-Paris-France.jpg");
    background-size: cover;
  }

  .malmo {
    background:  linear-gradient(
      rgba($purple, 0.8), 
      rgba($purple, 0.8)
    ), url("http://www.shl.dk/wp-content/uploads/2016/03/SHL_Architects_Malm%C3%B6-Live_Malm%C3%B6-from-above_banner_image-1170x555.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 721px) and (max-width: 1000px) {

  .cover-index  {
    height:60vh;
  }

  .search-bar {
    flex-basis: 75%;
  }

  .flex-form{

    display: flex;
    flex-wrap: wrap;

    input[type="search"] {
      flex-basis: 50%;
      margin: 2px 0;
      font-size: 0.8em;
    }

    label {
      flex-basis: 10%;
      margin: 2px 0;
      font-size: 0.6em;
    }

    input[type="date"] {
      flex-basis: 40%;
      margin: 2px 0;
      font-size: 0.8em;
    }

    input[type="number"] {
      flex-basis: 40%;
      font-size: 0.8em;

    }

    input[type="submit"] {
      flex-basis: 100%;
      font-size: 0.8em;
      margin: 2px 0;
    }

  }
}

@media screen and (min-width: 501px) and (max-width: 720px) {

  .cover-index  {
    height:60vh;
  }

  .search-bar {
    flex-basis: 85%;
  }

  .flex-form{

    display: flex;
    flex-wrap: wrap;

    input[type="search"] {
      flex-basis: 50%;
      margin: 2px 0;
      font-size: 0.8em;
    }

    label {
      flex-basis: 20%;
      margin: 2px 0;
      font-size: 0.6em;
    }

    input[type="date"] {
      flex-basis: 80%;
      margin: 2px 0;
      font-size: 0.8em;
    }

    input[type="number"] {
      flex-basis: 80%;
      font-size: 0.8em;

    }

    input[type="submit"] {
      flex-basis: 100%;
      font-size: 0.8em;
      margin: 2px 0;
    }

  }


}

@media screen and (max-width: 500px) {
  

  .cover-index  {
    height:60vh;
  }

  .search-bar {
    padding: 10px;
    flex-basis: 90%;
  }


  .flex-form{

    flex-wrap: wrap;

    input[type="search"] {
      flex-basis: 100%;
      font-size: 0.8em;
      margin: 2px 0;
    }

    label {
      flex-basis: 20%;
      font-size: 0.8em;
      margin: 2px 0;

    }

    input[type="date"] {
      flex-basis: 80%;
      font-size: 0.8em;
      margin: 2px 0;
    }

    input[type="number"] {
      flex-basis: 80%;
      font-size: 0.8em;
    }

    input[type="submit"] {
      flex-basis: 100%;
      margin: 2px 0;
    }
  }

  .flex-checks{


    input {
      margin-left: 10px;
    }
  }

  /*********          SUGGESTED TRAVELS            *********/


  .sugg-travels {
    flex-direction: column;
  }

  /*********          SUGGESTED TRAVELS BASED ON CALENDAR            *********/

  .calendar-sugg {
    flex-direction: column;
  }

}

