@import "mixins";
@import "variables";
@import "colors";

.login-page {
	margin-top: 40px;
	height: 80vh;
	h1 {
		text-align: center;
	}

	.login-container {

		display: flex;
        justify-content: center;
        align-content: center;



		.flex-form-login {

			display: flex;
			align-items: center;
			justify-content: center;
			flex-basis: 100%;
			text-align: center;
			flex-direction: column;
			margin-top: 35px;

			input {
				padding: 15px;
				width: 40%;
				margin-bottom: 10px;
				text-align: center;
			}

			input[type="submit"] {
			    background: $lightBlue;
			    border: none;
			    color: $white;
			    margin-top: 20px;
			    padding: 30px;
			    font-size: 1.3em;
	  			font-family: 'Julius Sans One', sans-serif;
			 }				
		}

	}

	

}

@media screen and (min-width: 721px) and (max-width: 1000px) {


  .login-page{
  	font-size: 0.8em;

    flex-wrap: wrap;


    input {
		width: 50% !important;
		

    }
  }
}

@media screen and (min-width: 501px) and (max-width: 720px) {

  .login-page{

  	font-size: 0.6em;

    flex-wrap: wrap;

    input {
      	width: 70% !important;

    }
  }


}

@media screen and (max-width: 500px) {
  

  .login-page{

  	font-size: 0.6em;
    flex-wrap: wrap;

    input {
      	width: 90% !important;

    }
  }

}

