@import "mixins";
@import "variables";
@import "colors";

body{

  .resultWrapper{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;

    .classContainer{
      width: 100%;
      height: 20%;
      @include flexRowCen;
      margin-top: 2%;
      margin-bottom: 1%;

      .classes{
        width: 100%;
        @include flexRowSpaAro;

        .economyClass, .businessClass, .firstClass{
          margin: $margin2per;
        }
      }
    }

    .resultContainer{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .resultsWrapper{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .travelWrapper{
          display: flex;
          justify-content: center;

          .travelContainer{
            height: 20%;
            margin: 1% 5% 0 5%;
            padding-top: 1%;
            border: 1px grey solid;
            display: flex;
            background-color: white;

            .destinationsContainer{
              width: 80%;
              margin-left: 4%;

              .toDesitinationContainer{
                width: 95%;
                height: 90%;
                margin: 2% 0 0 0;
                display: flex;
                flex-direction: column;

                .destinationContainer, .arrivalContainer{
                  width: 90%;
                  height: 50%;
                  @include flexRowMar2;
                }

                .destinationContainer{
                  border: 1px grey;
                  border-style: none none solid none;
                  padding-bottom: 5%;

                }

                .dividerContainer{
                  width: 25%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .divider{
                    width: 50%;
                    border: 1px grey;
                    border-style: none none solid none;
                  }
                }

                .destinationCapitalAndTimeContainer, .arrivalCapitalAndTimeContainer{
                  width: 70%;
                  height: 90%;
                  @include flexColSpaAroAliCenMar2;
                }

                .toCapitalContainer, .toTimeContainer, .fromCapitalContainer, .fromTimeContainer{
                  width: 100%;
                  height: 70%;
                  @include flexColSpaAroAliCenMar2;
                }

                .companyContainer{
                  width: 60%;
                  height: 90%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  margin: $margin2per;

                  h1, h2, h3, h4, h5{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                  }

                  img{
                    width: 100px;
                  }
                }
              }
            }

            .priceAndSelectTravelContainer{

              .priceContainer, .selectTravelContainer{
                width: 150px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                button{
                  padding:15px 25px;
                  background:#ccc;
                  border:0 none;
                  cursor:pointer;
                  -webkit-border-radius: 5px;
                  border-radius: 5px;

                  a {
                    text-decoration: none;
                    color:$black;
                  }
                }
              }
            }
        }

        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer{
    width: 60%;
    flex-direction: row;

    .destinationsContainer {
      width: 80%;
      margin-left: 4%;
    }

    .priceAndSelectTravelContainer {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 5% 8% 0 2%;

      .selectTravelContainer{
        margin: $margin2per;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body .resultWrapper .resultContainer .resultsWrapper .travelWrapper .travelContainer{
    width: 90%;
    flex-direction: column;

    .destinationsContainer {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .priceAndSelectTravelContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $lightOrange;
      padding: 5%;

      .priceContainer{
        margin-top: 5%;
      }

      .selectTravelContainer{
        margin: 5% 2% 0 2%;
      }
    }
  }
}